:root {
  /* === COLORS === */
  --color1: #04030e;
  --color2: #715ff0;
  --color3: #3324af;
  --color4: #1d175e;
  --color5: #4131cf;
  --color6: #54202a;
  --color7: #d21c3d;

  /* == Whitish ==*/
  /* --color-txt: #ffffff; */
  /* --color-txt: #fffff0; */
  --color-txt: #e6e6fa;
  /* --color-txt: #dcdcdc; */

  /* --color-txt: #fffafa; */
  /* --color-txt: #fffaf0; */
  /* --color-txt: #fff5ee; */
  /* --color-txt: #fff0f5; */
  /* --color-txt: #ffe4e1; */
  /* --color-txt: #f8f8ff; */
  /* --color-txt: #f5fffa; */
  /* --color-txt: #f5f5f5; */
  /* --color-txt: #f0ffff; */
  /* --color-txt: #f0f8ff; */

  /* --color-txt: #c0c0c0; */
  /* --color-txt: #b0c4de; */

  /* == Pinkish == */

  /* --color-txt: #dda0dd; */
  /* --color-txt: #da70d6; */
  /* --color-txt: #d8bfd8; */
  /* --color-txt: #9370db; */

  /* --colort-txt: #1d175e; */
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  color: var(--color-txt);
}

p {
  font-size: 1.5rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 40px 40px 40px;
  border: 1px solid var(--color4);
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: max-content auto max-content;
}

.form > * {
  font-size: 1.5rem;
}

.label {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.input {
  margin-right: 0.5rem;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  border: 1px solid var(--color4);
  background-color: var(--color4);
  color: var(--color-txt);
  transition: background-color 250ms;
  /* transition: color 250ms; */
}

.input::placeholder {
  color: var(--color-txt);
  opacity: 0.4;
}

.input:hover::placeholder,
.input:focus::placeholder {
  opacity: 0.6;
}

input,
button {
  outline: none;
}

.button {
  border-radius: 20px;
  border: 1px solid var(--color4);
  background-color: var(--color4);
  color: var(--color-txt);
  padding: 0rem 1.5rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover,
.input:hover,
.input:focus {
  background-color: var(--color3);
}
